<?xml version="1.0" encoding="utf-8"?>

<configuration scan="false">
	<property name="format" value="%d{HH:mm:ss.SSS} [%thread] %-5level %c:%L- %msg%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>${format}</pattern>
		</encoder>
	</appender>
	
	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>